

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: oblique;  
    margin: 0;
    padding: 0;
    background-color: #9b4822; 
    color: #333; 

}

/* common styles */

h1 {
    font-size: 2em;
    color: #e5be8a;
    text-align: center;
    margin-bottom: 0;

}

h3 {
    font-size: 15px;
    color: #e5be8a;
    text-align: center;
}

p{
text-align: center;
font-weight: bold
}

header {
    background-color: #9b4922;
    padding: 1em 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.logo {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    font-weight: bold;
    color:#e5be8a
}



nav ul {
    font-size: 19px;;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px; 
    justify-content: space-evenly;
    font-weight: bold;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}


nav a {
    text-decoration: none;
    color: #fff; 
}
nav a:hover {
    color: #070707; 
}

a{
    text-decoration: none;
    color: #050202;
}

a:hover{
    color: #9b4922;
}



.search-bar {
    display: flex;
    justify-content: center; 
}

.search-bar input[type="text"] {
    padding: 10px;
    border: 1px #fff;
    margin-right: 5px;
    border-radius: 4px;
    background-color: #e5be8a8f;
}

.search-bar button {
    padding: 10px 15px;
    background-color: rgba(51, 25, 4, 0.582);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cart-account{
    display: flex;
    width: 5%;
    justify-content: space-between;
    justify-items: right;
    padding: 10px;

}




footer {
    text-align: center;
    color:#fff;
    padding: 1em 0;
    background-color: #9b4922;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* Product page specific styles */

    .product-list {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding:20px;
        border-bottom: 1px solid #fff;

    }

    /* product  image positioning */
    .ring{
        margin-top: -40px;
        margin-bottom: -70px;
        margin-left: -20px;
        padding: 0;
    }

    .necklace{
        margin-top: 16px;
        margin-bottom: -35px;
        padding: 0; 
    }

    .earring{
        margin-top: -20px;
        margin-bottom: -50px;
        margin-left: -10px
    }

    .product{
        margin: 10px;
        text-align: center;
        justify-content: center;
        align-content: center;
        width: 25%;
        height:150px;
        padding: 10px;
        background: #e5be8a;
        background-color: #e5be8a;
        border-radius: 15px;
        box-shadow: 0px 30px 50px -12px rgba(8, 3, 1, 0.35)  inset, 
        0px 18px 26px -18px rgba(50, 50, 93, 0.4)  inset;
                
    }