body {
    background-color: #040224;
}

#header {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(179, 147, 78, 0.952);
    padding: 0;
    margin: 0;
}

    .logo {
        margin-bottom: -35px;
    }

    .title {
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        text-align: center;
        margin:5px;


    }

.home  a{
    border: 1px solid rgb(240, 202, 119);
    border-radius: 10px;
    padding: 10px;
    margin-left:60px;
    background-color: #040224;

}


a {
    text-decoration: none;
    color: rgb(240, 202, 119);
    
}

a:hover {
    color: rgb(70, 42, 4);
}


.instructions{
    text-align: center;
    color: rgb(240, 202, 119);
    padding-top: 0px;
    margin-top: 0px;
}


#container {
    display: flex;
    justify-content: center;
    width: 100%;

}

h2 {
    font-size: 40px;
    text-align: center;
    margin-top: -15px;
    margin-bottom: 0px;
    color: rgb(240, 202, 119);
    
}

h3{
    text-align: center;
    margin-top: 0%;
    border-bottom: 1px solid #040224;
}

#left {
    flex: .55;
    margin: 0px;
    margin-right:5px;
    padding: 15px;
    border: 4px solid rgb(252, 172, 0);
    border-radius: 5px;
    background-color: rgb(240, 202, 119);

}

.dish {
    margin-bottom: 1px;
}

.price {
    font-size: 14px;
    margin-top: 1px;
}
#right {
    flex: .45;
    margin: 0px;
    margin-left: 5px;
    padding: 20px; 
    border: 4px solid rgb(252, 172, 0);
    border-radius: 5px;
    background-color: rgb(240, 202, 119);

}


.total h4 {
    text-align: right;
    text-decoration: underline;
    margin-right: 55px;
    color: rgb(10, 1, 34)
}